/**
 * Configures SASS variables and Vuetify overwrites
 * https://vuetifyjs.com/features/sass-variables
 */
// @use 'vuetify/settings' with (
//   $color-pack: false
// );


.m-auto {
    margin-left: auto;
    margin-right: auto;
}

.v-btn--size-default {
    min-width: 36px !important;
}

.initals-btn {
    height: 117px !important;
    font-size: 2.5em;
    display: block;
    margin: auto;
    margin-bottom: .25em;
}

.code {
    border-radius: 5px;
    padding: 10px 20px;
    border: 1px solid #cecece;
    background: #f0f0f0;
    padding: 10px 15px;
    margin-top: 5px;
    
    pre {
        display: flex;
    }
}

.link {
    color: rgb(0, 0, 238);
    text-decoration-line: underline;
    cursor: pointer;
}